h1 {
position:absolute;
width:100%;
text-align:center;
top: 150px;
font-family: Arial;
font-size: 40pt;
color: #8a8275;
margin-right: auto;
margin-left: auto;
}

#input_div {
position:relative;
width:100%;
margin-top: 300px;
text-align:center;
}

#search_note {
position:relative;
width:200px;
font-size: 15pt;
}

#input_button {
font-size: 15pt;
}